# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\dev_c\WIFISDK\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
